body {
    color:rgb(29, 172, 238);
    background:black;
    margin:0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(108, 159, 226);
    padding: 20px;
    font-size: 32px;
    color: rgb(121, 171, 236);
}

.chamada {
    background: rgb(69, 34, 224);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display:flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}


.categoria-videos img:hover {
    opacity: 1;
    border: 1px solid green;
}

.categoria h2 {
    color: rgb(42, 122, 228)
}